//Reusable blocks of logic, such as media query helpers, flexbox shorthand shortcuts, or responsive typography functions.

@use "variables" as a;

// Breakpoints
@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: a.$bp-tablet) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: a.$bp-desktop) {
      @content;
    }
  }
}

// Headings - Design System
@mixin heading-xxl {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
  text-transform: uppercase;
}

@mixin heading-xl {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
}

@mixin heading-l {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}

@mixin heading-m {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

@mixin heading-s {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

@mixin heading-xs {
  font-family: a.$font-heading;
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}

// Body Text
@mixin body-m {
  font-family: a.$font-body;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

@mixin body-s {
  font-family: a.$font-body;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

@mixin body-xs {
  font-family: a.$font-body;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
