//Design tokens such as colors, font families, spacing scales, breakpoints, and z-index layers.

//Colors
$clay: #d5966c;
$black: #151515;
$grey: #444444;
$white: #ffffff;

//Typography
$font-heading: "Big Shoulders", sans-serif;
$font-body: "Outfit", sans-serif;

//Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1200px;
